
.Text-component {
    padding: 2em;
    font-size: 1vw;
    grid-column: 2;
    grid-row: 1;
}

.text-author {
    font-style: italic;
    font-size: 1em;
}

@media screen and (max-width: 400px) {

    .Text-component {
        padding: 2em;
        font-size: 2vw;
        grid-column: 2;
        grid-row: 1;
    }
    
    .text-author {
        font-style: italic;
        font-size: 1em;
    }

}

@media screen and (max-width: 800px) {
    
    Text-component {
        padding: 2em;
        font-size: 2vw;
        grid-column: 2;
        grid-row: 1;
    }
    
    .text-author {
        font-style: italic;
        font-size: 1em;
    }

}


