.CategoryComponent {
    text-align: left;
    width: fit-content;
}

form {
    display: flex;
    margin: 1em;
    flex-direction: column;
}

form label {
    margin-left: 1em;
}

form button {
    align-self: flex-start;
}
