.Tab-button {
    margin: 0.5em;
    height: 3em;
    width: 6em;
    border-radius: 4px;
    background-color: rgb(59, 87, 124);
    border: none;
    color: lightgrey;
}

.Tab-button:hover {
    background-color: lightgrey;
    color: grey;
}

.Tab-button.active, .Tab-button:active {
    background-color: rgb(74, 130, 178);
}

@media screen and (max-width: 450px) {
    .Tab-button {
        margin: 0.2em;
        width: 5em;
    }
}
