.Tab-component {
    grid-column: 1;
    grid-row: 1;
    padding: 1em; 
    justify-self: center;
}

@media screen and (max-width: 800px) {
    .Tab-component {
        grid-column: 1;
        grid-row: 1;
        padding: 0.5em;
    }
}


@media screen and (max-width: 400px) {
    .Tab-component {
        grid-column: 1;
        grid-row: 1;
        padding-top: 0.5em;
    }
}
