.Tab-component {
    grid-column: 1;
    grid-row: 1;
    padding: 1em; 
    justify-self: center;
}

@media screen and (max-width: 200px) {
    .Tab-component {
        grid-column: 1;
        grid-row: 1;
        padding: 0.5em;
    }
}

@media screen and (max-width: 500px) {
    .Tab-component {
        grid-column: 1;
        grid-row: 1;
        padding: 0.5em;
    }
}
