
.Tab-component {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 1em; 
}



@media screen and (max-width: 200px) {
    .Tab-component {
        grid-column: 1;
        grid-row: 2/3;
        padding: 1em;  
    }
 
}

@media screen and (max-width: 500px) {
    .Tab-component {
        grid-column: 1;
        grid-row: 2/3;
        padding: 1em;  
    }
}