.ImageComponent, svg {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1/2;
    justify-self: center;
}

svg {
    margin: 10px;
}

.ImageComponent {
    height: 90%;
}

@media screen and (max-width: 800px) {
    .ImageComponent, svg {
        height: 100%;
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }

    svg {
        margin: 10px;
    }
}

@media screen and (max-width: 450px) {
    .ImageComponent, svg {
        height: 100%;
        width: 90%;
        grid-column: 1;
        grid-row: 1;
    }

    svg {
        margin: 5px;
    }

    .ImageComponent {
        padding-right: 10px;
    }
}
