
:root {
    /*
    --navn-variabel: verdi;
    bruke: 
        color: var(--navn-variabel);

    */
}

.App {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 1fr;
    overflow-x: hidden;
}

.App-header {
    background-color: #222;
    height: 7em;
    padding: 20px;
    color: white;
    grid-column: 1/4;
}

.App-title {
    font-size: 2.0em;
}

@media screen and (max-width: 800px) {
    .App {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10% 1fr;
    }

}

@media screen and (max-width: 400px) {
    .App {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10% 1fr;
    }

    .App-header {
        height: 5em;
    }

}

