.SoundComponent {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%
}

@media screen and (max-width: 450px) {
    .SoundComponent {
        grid-column: 1;
        grid-row: 3;
        height: 100%;
        width: 100%
    }
}